body {
    background-color: blanchedalmond;
}

.card {
    padding: 10px;
    background-color: white;
    box-sizing: border-box;
    width: 700px;
    margin: auto;
}

.mainbanner{
    box-sizing: border-box;
    background-color: rgb(255, 253, 206);
    padding: 10px;
    display: block;
    text-align: center;
}

.title {
    box-sizing: border-box;
    display: inline-block;
    padding-right: 20px;
}

h1 {
    font-size: 90px;
    margin-bottom: 20px;
}
