.main {
    background-color: blanchedalmond;
}

.card {
    background-color: white;
    box-sizing: border-box;
    width: 500px;
    margin: auto;
    padding: 5px;
}

.title-card{
    background-color: rgb(255, 253, 206);
    margin-bottom: 3px;
}

.Main-title {
    text-align: center;
    width: 200px;
    margin: auto;
}

.sub-title {
    box-sizing: content-box;
    text-align: center;
    padding: 10px;
    margin: auto;
    margin-bottom: 3px;
}

.images {
    padding:10px;
    margin: auto;
}

