.main {
    background-color: blanchedalmond;
}

.card {
    background-color: white;
    box-sizing: border-box;
    width: 500px;
    margin: auto;
    padding: 5px;
}

.title-card{
    background-color: rgb(255, 253, 206);
    margin-bottom: 3px;
}

.Main-title {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: auto;
    margin: auto;
}

.sub-title {
    box-sizing: content-box;
    text-align: center;
    padding: 10px;
    margin: auto;
    margin-bottom: 3px;
}

.images {
    display: block;
    padding: 10px 10px 0px 10px;
    text-align: center;
}

ul {
    box-sizing: border-box;
    display: block;
    padding: 0px;
    margin-top: 0px;
}

li {
    display: inline;

}

#list1 {
    margin: 0 48px 0 75px;
}

#list2 {
    margin-right: 25px;
}

#list3 {
    margin-right: 13px;
}




